### Heroes Of Pymoli Data Analysis
* The top 20% of items in terms of total revenue make up 40.0 percent of total revenue. These items should be emulated

* The top 20% of customers in terms of total revenue make up 38.0 percent of total revenue. These customers can be used to create an ideal customer archetype

* The age group: 20-24 makes up 47.0 percent of total revenue. This fact should be included when creating the ideal customer archetype

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [213]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, index_col="Purchase ID" )
print(purchase_data.dtypes)

SN            object
Age            int64
Gender        object
Item ID        int64
Item Name     object
Price        float64
dtype: object

## Player Count

* Display the total number of players

In [214]:
players = pd.DataFrame
players = purchase_data["SN"].unique()
#total_players = len(players)
player_count = pd.DataFrame(data=[len(players)], columns=["Total Players"])
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [215]:
#define the number of unique items purchased
item_count = len(purchase_data["Item ID"].unique())
#print(item_count)

#define the average price of the items
purchase_group = purchase_data.groupby("Item ID").mean().mean()
avg_price = purchase_group["Price"]
#print(avg_price)

#define the total revenue
total_revenue = purchase_data["Price"].sum()
#print(total_revenue)

#define the transaction count
purchase_count = purchase_data["Item ID"].count()
#print(purchase_count)

#define the Datafram columns
column_list = ["Number of Unique Items", 'Average Price', "Number of Purchases", 'Total Revenue']
#print(column_list)

#create Data Frame for the results
purchase_report = pd.DataFrame([[item_count, avg_price, purchase_count, total_revenue]], columns=column_list)

#Use map to format the columns
purchase_report["Average Price"] = purchase_report["Average Price"].map("${:.2f}".format)
purchase_report["Total Revenue"] = purchase_report["Total Revenue"].map("${:.2f}".format)
purchase_report

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.04                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [216]:
#Find the values in the Gender colum
players_group = purchase_data.drop_duplicates(subset="SN")

#Define the counts of each gender
value_counts = players_group["Gender"].value_counts()

data = {
    "Total Count": [value_counts.loc["Male"], value_counts.loc["Female"], value_counts.loc["Other / Non-Disclosed"]],
    "Percentage of Players": [value_counts.loc["Male"]/len(players)*100, value_counts.loc["Female"]/len(players)*100, value_counts.loc["Other / Non-Disclosed"] / len(players)*100]
        }

#Create DataFrame
gender_df = pd.DataFrame(data, index=("Male", "Female", "Other / Non-Disclosed"))

#Format Data Frame to show only two decimal places
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map('{:.2f}'.format)

gender_df

                       Total Count Percentage of Players
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [217]:
#Group the items by Gender
gender_purchase_group = purchase_data.groupby("Gender")

#define the average price of the items
avg_price_gender = gender_purchase_group["Price"].mean()

#define the total revenue of the items
purchase_value_gender = gender_purchase_group["Price"].sum()

#define the total item count
purchase_count_gender = gender_purchase_group["Price"].count()

#define the average amount spent by a person  = Total Revenue / number of people in that category
gender_counts = gender_purchase_group["SN"].nunique()
avg_spent = [purchase_value_gender[x]/gender_counts[x] for x in range(len(gender_counts))]

#Define the data for the data frame
data = {
    "Purchase Count": purchase_count_gender,
    "Average Purchase Price": avg_price_gender,
    "Total Purchase Value": purchase_value_gender,
    "Avg Total Purchase Per Person": avg_spent
}

#Define the Data Frame
gender_purchases_df = pd.DataFrame(data=data)


#format the Data Frame
gender_purchases_df["Average Purchase Price"] = gender_purchases_df["Average Purchase Price"].map('${:.2f}'.format)
gender_purchases_df["Total Purchase Value"] = gender_purchases_df["Total Purchase Value"].map('${:.2f}'.format)
gender_purchases_df["Avg Total Purchase Per Person"] = gender_purchases_df["Avg Total Purchase Per Person"].map('${:.2f}'.format)

gender_purchases_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [218]:
#Creat bins
bins = [0,9,14,19,24,29,34,39,100]

#categorize the players into each bin
age_bins = pd.cut(players_group["Age"], bins)
age_bins = age_bins.value_counts().sort_index()

#calculate percentage of players in each bin
age_bins_percents = [bin/players_group["Age"].count()*100 for bin in age_bins]

#Prepare Data Frame
index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
data = {
    "Total Count" : age_bins,
    "Percentage of Players" : age_bins_percents,
    "" : index
}

#Create Summary DataFrame
age_bins_summary = pd.DataFrame(data=data)
age_bins_summary = age_bins_summary.set_index("")

#format the dataframe
age_bins_summary["Percentage of Players"] = age_bins_summary["Percentage of Players"].map('{:.2f}'.format)

#Show the DataFrame
age_bins_summary

       Total Count Percentage of Players

<10             17                  2.95
10-14           22                  3.82
15-19          107                 18.58
20-24          258                 44.79
25-29           77                 13.37
30-34           52                  9.03
35-39           31                  5.38
40+             12                  2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [219]:
#Add age bin the purchase data
purchase_data["Age Bin"] = pd.cut(purchase_data["Age"], bins)
purchase_data.head()

#Groupby age bin
purchase_age_group = purchase_data.groupby("Age Bin")

#define a new dataframe with the purchase count for each age group
age_bins_df = pd.DataFrame(purchase_age_group["Item ID"].count())

#Rename column to Purchase Count
age_bins_df = age_bins_df.rename(columns={"Item ID" : "Purchase Count"})

#add column for Average Purchase Price
age_bins_df["Average Purchase Price"] = purchase_age_group["Price"].mean()

#add column for Total Purchase Value
age_bins_df["Total Purchase Value"] = purchase_age_group["Price"].sum()

#add a column for Avg Total Purchase per Person = total purchase value / number of group members
age_bins_df["Avg Total Purchase per Person"] =  age_bins_df["Total Purchase Value"] / age_bins

#format the dataframe
age_bins_df["Average Purchase Price"] = age_bins_df["Average Purchase Price"].map("${:.2f}".format)
age_bins_df["Total Purchase Value"] = age_bins_df["Total Purchase Value"].map("${:.2f}".format)
age_bins_df["Avg Total Purchase per Person"] = age_bins_df["Avg Total Purchase per Person"].map("${:.2f}".format)
age_bins_df.index = index

age_bins_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [220]:
# group by screen name
sn_group = purchase_data.groupby("SN")

#Create dataframe to hold Purchase Count Data
top_spenders = pd.DataFrame(sn_group["Item ID"].count())

#Rename the Column
top_spenders = top_spenders.rename(columns={"Item ID": "Purchase Count"})

#define the Average Purchase Price
top_spenders["Average Purchase Price"] = sn_group["Price"].mean()

#define the Total Purchase Price
top_spenders["Total Purchase Value"] = sn_group["Price"].sum()

#Sort the dataframe by total purchase value
top_spenders = top_spenders.sort_values("Total Purchase Value", ascending=False)

#format the dataframe
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].map("${:.2f}".format)

top_spenders.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [221]:
# group by Item Name
item_group = purchase_data.groupby("Item Name")

#Create dataframe to hold Purchase Count Data
top_items = pd.DataFrame(item_group["Item ID"].count())

#Rename the Column
top_items = top_items.rename(columns={"Item ID": "Purchase Count"})

#define the Item ID
top_items["Item ID"] = item_group["Item ID"].first()

#define the Average Purchase Price
top_items["Average Purchase Price"] = item_group["Price"].mean()

#define the Average Purchase Price
top_items["Average Purchase Price"] = item_group["Price"].mean()

#define the Total Purchase Price
top_items["Total Purchase Value"] = item_group["Price"].sum()

#Sort the dataframe by total purchase value
top_items = top_items.sort_values("Purchase Count", ascending=False)

#format the dataframe
top_items["Average Purchase Price"] = top_items["Average Purchase Price"].map("${:.2f}".format)
top_items["Total Purchase Value"] = top_items["Total Purchase Value"].map("${:.2f}".format)
top_items = top_items.set_index(['Item ID', top_items.index])

top_items.head(10)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
141,Persuasion,9,$3.22,$28.99
82,Nirvana,9,$4.90,$44.10
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
145,Fiery Glass Crusader,9,$4.58,$41.22
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [222]:
#Re-define the Total Purchase Value as a number
top_items["Total Purchase Value"] = top_items["Total Purchase Value"].replace("[\$,]","", regex=True).astype(float)

#Sort the dataframe by total purchase value
top_items = top_items.sort_values("Total Purchase Value", ascending=False)

#Re-format
top_items["Total Purchase Value"] = top_items["Total Purchase Value"].map("${:.2f}".format)
top_items.head(10)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
141,Persuasion,9,$3.22,$28.99

In [223]:
#Analyze trends in terms of item name
top_items["Total Purchase Value"] = top_items["Total Purchase Value"].replace("[\$,]","", regex=True).astype(float)
total = 0
for x in range(purchase_data["Item ID"].nunique() // 5):
    total = total + top_items.iloc[x, -1]
print(f"The top 20% of items in terms of total revenue make up {round(total / purchase_data['Price'].sum(),2)*100} percent of total revenue")

The top 20% of items in terms of total revenue make up 40.0 percent of total revenue

In [224]:
#Analyze trends in terms of screen name
total =0
top_spenders["Total Purchase Value"] = top_spenders["Total Purchase Value"].replace("[\$,]","", regex=True).astype(float)
for x in range(purchase_data["SN"].nunique() // 5):
    total = total + top_spenders.iloc[x, -1]
print(f"The top 20% of customers in terms of total revenue make up {round(total / purchase_data['Price'].sum(),2)*100} percent of total revenue")

The top 20% of customers in terms of total revenue make up 38.0 percent of total revenue

In [225]:
#Analyze trends in terms of age bin
age_bins_df["Total Purchase Value"] = age_bins_df["Total Purchase Value"].replace("[\$,]","", regex=True).astype(float)

print(f"The age group: {age_bins_df['Total Purchase Value'].idxmax()} makes up {round(age_bins_df['Total Purchase Value'].max() / age_bins_df['Total Purchase Value'].sum(),2)*100} percent of total revenue")

The age group: 20-24 makes up 47.0 percent of total revenue